#tv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}
.data-contain{
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    width: 800px;
    height: 800px;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
    background-color: #FF4081;
}
.title{
    position: relative;
    top: 5;
}
.subtitle{
    font-size: 28px;
}
.data{
    font-size: 16px;
}

.overview{
    font-size: 16px;
    border-color: black;
    border-radius: 5px;
    border: 2px;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.img-contain{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 500px;
    height: 800px;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
}

img{
    width: 100%;
   height: 100%;
}