
:root{
    --main-dpc-color: #1876D2;
    --main-loc-color: #BBDEFB;
    --main-pc-color: #2196F3;
    --main-ti-color: #FFFFFF;
    --main-ac-color: #FF4081;
    --main-pt-color: #212121;
    --main-st-color: #757575;
    --main-dv-color: #BDBDBD;
    --main-ce-color: #43cc68;
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: var(--main-loc-color);
}

h1{
    text-align: center;
}